body {
  background-color: #0c012c;
  color: white;
  font-family: 'Nunito ExtraBold';
}
.main {
  background-color: #120635;
  .hero {
    @apply relative bg-no-repeat;
    @apply flex flex-row items-center justify-around;
    .hero-img {
      @apply absolute left-0 top-0 object-contain;
    }
    .join {
      width: fit-content;

      @apply mb-8 bg-purple-600 p-2 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50;
      background-image: linear-gradient(to right, #de24e2, #3915f6);
    }
  }
}
.header-pc {
  @apply flex flex-grow justify-between;
  .end {
    @apply flex justify-around;
  }
}
.container {
  @apply flex flex-col;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.intro {
  @apply font-nunito-bold text-3xl md:text-5xl;
}

.application {
  @apply font-nunito-bold mt-4 text-3xl md:text-5xl;
  color: rgba(212, 49, 216, 1);
}
.divide {
  @apply mb-8 mt-10;
  @apply bg-gradient-to-r from-pink-600 to-blue-800;
  height: 0.17rem;
  width: 100%;
}

.feature {
  @apply mt-8 flex flex-col items-center;
  .title {
    @apply font-nunito-bold  text-5xl md:text-7xl;
  }
  .box {
    @apply grid grid-cols-1 p-10 md:grid-cols-2 md:gap-8;
    .item {
      @apply relative mt-24 flex flex-col items-center p-20 text-center md:mt-20;
      border-radius: 2rem;
      border: 2px solid;
      border-image: linear-gradient(90deg, rgba(222, 36, 226, 1), rgba(57, 21, 246, 1)) 2 2;
      .tip {
        @apply font-nunito-bold mt-8 text-3xl md:text-5xl;
      }
      .desc {
        @apply mt-14 text-2xl md:text-4xl;
      }
      img {
        @apply absolute -top-24 h-48 w-48;
      }
    }
  }
}

.community {
  @apply mt-32 flex flex-col items-center;
  .title {
    @apply font-nunito-bold text-5xl md:text-7xl;
  }
  .content {
    @apply flex flex-row;
    img {
      @apply mx-10 my-10 w-20 sm:mx-20 sm:my-20;
    }
  }
}

.footer {
  background-color: #0c012c;
  @apply text-base text-black;
}
